:root {
  --bg-color: #0f0f0f;
  --card-bg: #1a1a1a;
  --texto-main: #ffffff;
  --texto-secondary: #a0a0a0;
  --dorado: #c5a059;
  --border-color: rgba(255, 255, 255, 0.1);
}

/* --- CONTENEDOR PRINCIPAL --- */

.app-wrapper {
  background-color: #0d0d0d;
  min-height: 100vh;
}

.main-content {
  max-width: 1200px;
  margin: -50px auto 0; /*Hace que se solape*/
  position: relative;
  z-index: 10;
  padding: 0 20px;
}

