/* --- BARRA DE BUSQUEDA (FLOTANTE) --- */
.main-content {
  padding: 0 5%;
  margin-top: -40px;
  position: relative;
  z-index: 10;
}

.navbar {
  background: #ffffff;
  padding: 10px 25px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
  gap: 10px;
  margin-bottom: 50px;
}

.navbar input, .navbar select {
  background: transparent;
  border: none;
  padding: 12px;
  outline: none;
  font-size: 16px;
  color: #333;
}

.navbar input { flex: 2; }
.navbar select {
  flex: 1;
  border-left: 1px solid #eee;
  cursor: pointer;
}