.pagination {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
}

.pagination button {
  padding: 0.5rem 1rem;
  border: none;
  background: #525252;
  cursor: pointer;
  border-radius: 50px;
  color: white;
}

.pagination button.active {
  background: #c5a059;
  
}
@media (max-width: 768px) {
  .pagination {
    gap: 6px;
    margin: 16px 0;
    flex-wrap: wrap;
  }

  .pagination button {
    padding: 6px 12px;
    font-size: 13px;
  }
}